.auth-wrapper .auth-box{
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.2); 
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

/* html, body {
        height: 100%;
        margin: 0px;
    }
.invalid-feedback {
    color: red !important;
    display: block;
    padding-left: 5%;
}

.right_side{
    color: #fff;
	text-align: center;
    background:  url(/assets/images/bg-pattern.png),linear-gradient(to left,rgba(0,123,255,.5),#0D9C94);
    text-align: right;    
}

.right_side_top{
	padding: 10px;
    padding-top: 10vh;
    padding-right: 5vh;
	height: 85vh;
}

.right_side_bottom{
	padding: 10px;	
    text-align: center;
}
.hd1{
    font-size: 2em;
}

.hd2{
}

#signup_button{
	background-color: #fff;
	color: #0D9C94;
	border-radius: 20px;
}

.auth-wrapper .auth-box{
    box-shadow: none;
    background: none;
    margin: 1% 0;
}

.db img{
    height: 130px;
}


.form_wrapper{
    background-color: #fff;
    padding: 3em;
    border-radius: 8px;
}

h5{
    color: #fff;
}

.btn{
    border-radius: 20px;
    background-color: #07c1b5;
    border: none;
}


@media only screen and (max-width: 600px) {
  .right_side{
		display:none !important;
	}
}*/